:host {
  display: block;
  width: 90%;
  margin: auto;
  background: #223;
  color: #CCD;
}


.grid-item {
  float: left;
  transition: opacity 0.5s;
  width: 100px;
  height: 100px;
}

/* clear fix */
grid:after {
  content: '';
  display: block;
  clear: both;
}
